/* Estilo del contenedor del formulario */
.form-container {
  padding: 20px;
  padding-top: 70px;
  margin-top: 80px; /* Asegúrate de que este margen compense la altura del navbar */
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9; /* Fondo claro para mayor claridad */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para hacer que el formulario resalte */
}

/* Estilos del formulario */
.form-container h2, .form-container h3 {
  text-align: center;
}

.form-container .form-group {
  margin-bottom: 15px;
}

.form-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-container input, 
.form-container textarea, 
.form-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-container textarea {
  min-height: 80px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}
