.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
  position: relative; /* Asegura que los íconos y botones no afecten el input */
  width: 100%;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Espacio reservado para el ícono */
}

.icon {
  font-size: 1.2rem;
  color: #777;
}

input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  padding-right: 50px;  /* Ajustamos el padding derecho para no solapar el botón */
  width: 100%;
  box-sizing: border-box; /* Asegura que el input no se desborde */
}

.password-input {
  padding-right: 50px; /* Asegura espacio suficiente para el botón */
}

.toggle-password {
  border-radius: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #777;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block; /* Asegura que el botón siempre sea visible */
}


.toggle-password:hover {
  color: #333; /* Oscurecemos el color cuando el usuario pasa el cursor */
}

.password-form-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

/* Oculta el ícono de mostrar contraseña en Microsoft Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Oculta el ícono de mostrar contraseña en Chrome, Safari y otros navegadores basados en WebKit */
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

