/* Estilos generales del navbar */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Ajusta el padding para darle espacio */
  background-color: #004080; /* Color de fondo del navbar */
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombras sutiles */
}

/* Logo del navbar */
.navbar__logo img {
  height: 60px; /* Ajuste del tamaño del logo */
  width: auto;
}

/* Enlaces del navbar */
.navbar__links {
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
}

.navbar__links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar__links a:hover {
  color: #f0f0f0; /* Color más claro al hacer hover */
}

/* Dropdown del menú */
.dropdown {
  position: relative;
}

.dropdown__toggle {
  background: none;
  border: none;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.dropdown__menu a {
  color: #333;
  text-decoration: none;
  padding: 8px 16px;
}

.dropdown__menu a:hover {
  background-color: #ddd;
}

/* Mostrar el dropdown al hacer hover */
.dropdown:hover .dropdown__menu {
  display: block;
}

/* Ajuste para el icono de usuario */
.navbar__user {
  margin-left: auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 4px;
}

.navbar__user:hover .user-dropdown {
  display: block;
}

.user-dropdown a {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
}

.user-dropdown a:hover {
  background-color: #f0f0f0;
}



