/* Register.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .login-container {
    width: 350px;
    margin: 100px auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1.2rem;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
  }
  
  input {
    padding: 0.7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  /* Contenedor de la entrada de contraseña con el botón de visibilidad */
  .password-input-container {
    position: relative; /* Para permitir la posición absoluta del botón de toggle */
  }
  
  .password-input-container input {
    width: 100%;
    padding-right: 30px; /* Espacio para el ícono de mostrar/ocultar */
  }
  
  /* Estilo del botón de mostrar/ocultar contraseña */
  .password-toggle {
    position: absolute; /* Posiciona el ícono dentro del campo de entrada */
    right: 10px; /* Alineado al lado derecho del campo de entrada */
    top: 50%;
    transform: translateY(-50%); /* Centrado verticalmente */
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor tipo puntero */
    color: #888; /* Color del ícono */
    font-size: 1.2rem; /* Tamaño del ícono */
  }
  
  .password-toggle:hover {
    color: #555; /* Oscurece el color del ícono al pasar el cursor */
  }
  